.idea

*tmp
*__pycache__

venv
venv_tmp

.env
.DS_store
db.sqlite3
db.json

backend/app/static/*
!backend/app/static/.gitkeep

backend/app/templates/*
!backend/app/templates/.gitkeep

backend/app/staticfiles/*
!backend/app/staticfiles/.gitkeep
